{% extends 'base.html' %} {% block artActive %}nav-active{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Artwork{% endblock %}</title>
</head>

<body>
    {% block pagecontent %} {% if acrylics %}
    <div>
        <h4>Acrylics</h4>
        {% for acrylic in acrylics %}
        <a href="{{acrylic.image.url}}" data-lightbox="acrylics" data-title="<p>{{acrylic.name}} {{acrylic.size}}</p> <p>{{acrylic.description}}</p>">
            <img src="{{acrylic.image.url}}" class="img-thumbnail art-thumbnail" alt="">
        </a>
        {% endfor %}
    </div>
    {% endif %} {% if watercolors %}
    <br />
    <div>
        <h4>Watercolors</h4>
        {% for watercolor in watercolors %}
        <a href="{{watercolor.image.url}}" data-lightbox="watercolors" data-title="{{watercolor.name}}">
            <img src="{{watercolor.image.url}}" class="img-thumbnail art-thumbnail" alt="">
        </a>
        {% endfor %}
    </div>
    {% endif %} {% if photos %}
    <br />
    <div>
        <h4>Photography</h4>
        {% for photo in photos %}
        <a href="{{photo.image.url}}" data-lightbox="photos" data-title="{{photo.name}}">
            <img src="{{photo.image.url}}" class="img-thumbnail art-thumbnail" alt="">
        </a>
        {% endfor %}
    </div>
    {% endif %} {% endblock %}
</body>