{% extends 'base.html' %}
{% block eventActive %}nav-active{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Events{% endblock %}</title>
</head>

<body>
    {% block pagecontent %}
    <h2>Events</h2>
    <ul>
        {% for currentShow in currentShows %} 
        <li>
            <div>
                {% if currentShow.url %}
                    <h4><a href="{{currentShow.url}}" target="_blank">{{ currentShow.venue_name }}</a></h4>
                 {% else %}
                    <h4>{{ currentShow.venue_name }}</h4>
                {% endif %}
                <p>{{ currentShow.address }}</p>
                <small>
                    {{ currentShow.start_date }} to {{currentShow.end_date }}
                </small>

            </div>
        </li> 
        {% endfor %}
    </ul>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
    <ul>
        {% for previousVenue in previousVenues %}
        <li>{{ previousVenue.venue_name }}</li> 
        {% endfor %}
    </ul>
    {% endblock %}
</body>