{% extends 'base.html' %}
{% block eventActive %}nav-active{% endblock %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Events{% endblock %}</title>
</head>

<body>
    {% block pagecontent %}
    <div class="">
        <div class="">
            <div class="transparent-well event-column">
                <h3>Current Shows</h3>
                {% if currentShows %}
                <ul>
                    {% for currentShow in currentShows %} 
                    <li>
                        <div class='show-info'>
                            {% if currentShow.url %}
                                <h4>{{ currentShow.venue_name }} <small> - <a href="{{currentShow.url}}" target="_blank">Venue Information</a></small></h4>
                                {% else %}
                                <h4>{{ currentShow.venue_name }}</h4>
                            {% endif %}
                            <p>
                                {{ currentShow.start_date|default:""}} {{currentShow.start_time|default:""}} to {{currentShow.end_date|default:""}} {{currentShow.end_time|default:""}}
                            </p>
                            <p>{{ currentShow.address }}</p>
            
                        </div>
                    </li> 
                    {% endfor %}
                </ul>
                {% else %}
                <p>No current shows at the moment. Please check back later!</p>
                {% endif %}
                <hr style="border:1px solid lightgrey">
                <h3>Previously participated in group art shows at the following locations:</h3>
                <ul>
                    {% for previousVenue in previousVenues %}
                    <li>{{ previousVenue.venue_name }}</li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
</body>